params {
  workflowDir = '/mnt/morbo/Data/workflows/kallistobus/scRNA-Seq/velocity'
  project = 'Pantr2_snRNA-Seq'
  chemistry = '10xV3'
  recipe = 'nucleus'
  species = 'mouse'
  indexDir = '/mnt/morbo/Data/indexes/mouse/mm10/kallisto/velocity_index'
  kallisto_index = "$indexDir/mm_cDNA_introns_97.idx"
  tr2g = "$indexDir/tr2g.tsv"
  cDNA_tx_to_capture = "$indexDir/cDNA_tx_to_capture.txt"
  introns_tx_to_capture = "$indexDir/introns_tx_to_capture.txt"
  rootDir = '/mnt/morbo/Data/Users/jaugustin/Pantr2_snRNASeq'
  readPathPairs = "$rootDir/fastqs/jaugust7_176741_Pantr2_snRNAseq/*R{1,2}_001.fastq.gz"
  readPath = "$rootDir/fastqs/jaugust7_176741_Pantr2_snRNAseq/*.fastq.gz"
  outDir = "$rootDir/results/kallisto_out"
  logDir = "$rootDir/logs"
  threads = 8
  condaEnv = "$workflowDir/kallistobus.yml"
}

process {
    executor = 'slurm'
    queue = 'general'
    pollInterval = '1 min'
    queueStatInterval = '2 min'
}
