params {
  workflowDir = '/mnt/morbo/Data/workflows/kallistobus/scRNA-Seq/velocity'
  project = 'Project_Name'
  chemistry = '10xV3'
  recipe = '--lamanno'
  species = 'mouse'
  indexDir = '/mnt/morbo/Data/indexes/mouse/mm10/kallisto/velocity_index'
  kallisto_index = "$indexDir/mm_cDNA_introns_97.idx"
  tr2g = "$indexDir/tr2g.tsv"
  cDNA_tx_to_capture = "$indexDir/cDNA_tx_to_capture.txt"
  introns_tx_to_capture = "$indexDir/introns_tx_to_capture.txt"
  rootDir = '/mnt/morbo/Data/Sequencing/Bergles/glial_scar'
  readPathPairs = "$rootDir/fastqs/dheo2_163862/*R{1,2}_001.fastq.gz"
  readPath = "$rootDir/fastqs/dheo2_163862/*.fastq.gz"
  outDir = "$rootDir/results/kallisto_out"
  kallistoThreads = 8
  condaEnv = "$workflowDir/kallistobus.yml"
}

process {
    executor = 'slurm'
    queue = 'general'
    withName: run_kallisto {
        conda '/Users/loyalgoff/.conda/envs/kallistobus'
    }
}
