params {
  refBase = "/reference/genomes/human/gencode/v38"
  refGenome = file("$params.refBase/GRCh38.primary_assembly.genome.fa.gz")
  refGTF = file("$params.refBase/gencode.v38.annotation.gtf.gz")
  indexDir = "/mnt/morbo/Data/indexes"

  dev = false
  number_of_inputs = 4
}

process {
  executor='slurm'
  queue = 'general'
  pollInterval = '1 min'
  queueStatInterval = '2 min'
}
